body{
    background: url("VS\ BACKGROUND\ IMG.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: darkorchid;
    text-align: center;
    margin: auto;
}
.name{
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 30px;
    height:90px;
    margin-bottom: 30px;

}
h3{
    color: black;
    font-size: x-large;
}
th{
    text-align: center;
    font-size: 30;
}
td{
    height: 190px;
    width: 190px;
    border: 3px solid white;
    color: black;
    border-radius: 25% 25% 25% 25%;
}
.t{
    display: flex;
    justify-content: space-evenly;
}
img{
    height: 195px;
    width: 195px;
    border-radius: 25% 25% 25% 25%;
}